.title1{
    margin-top: -18vh;
    margin-left: 11vw;
    font-family: fantasy;
    font-size: 40px;
    color: white;
  }
  
  .gify{
    margin-top: 1.5vh;
    margin-left: 3vw;
  
  }
  .link{
    text-decoration: none;
  }
  .homeBtn {
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 30px;
    background: rgb(66, 73, 150);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 160vh;
    margin-top: -16vh;
    display: flex;
    text-decoration: none;
  }
  
  .homeBtn:hover {
    background: #807dc4;
    text-decoration: none;
  }

  .container {
    position: absolute;
    font-family: arial;
    font-size: 24px;
    margin-left: 15vw;
    margin-top:5vh;
    width: 70vw;
    height: 70vh;
    background-color: rgb(66, 73, 150);
  }
  .name{
      color: white;
      display: flex;
      align-self: center;
      margin-left: 35vw;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-size: 4;
      
  }

  .img {
      height: 90%;
      width:45%;
      object-fit: cover;
      margin-top: -9vh;
      margin-left: 30px;
  }
  .description{
      margin-top: -50vh;
      margin-left: 35vw;
      color: whitesmoke;
  }